<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="sidebar">
    <div class="brand-section">
        <h2 class="brand-title">E-Grocery <span class="brand-sub">Admin</span></h2>
    </div>

    <nav class="nav-container">
        <a class="nav-card active" routerLink="/admin/dashboard" routerLinkActive="active">
            <div class="icon-wrapper">
                <i class="fa-solid fa-gauge-high"></i>
            </div>
            <span class="nav-text">Dashboard</span>
            <div class="active-indicator"></div>
        </a>

        <a class="nav-card" routerLink="/admin/show-user" routerLinkActive="active">
            <div class="icon-wrapper">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <span class="nav-text">Show-user</span>

        </a>

        <a class="nav-card" routerLink="/admin/addproduct" routerLinkActive="active">
            <div class="icon-wrapper">
                <i class="fa-solid fa-box"></i>
            </div>
            <span class="nav-text">Products</span>
        </a>

        <a class="nav-card" routerLink="/admin/allorder" routerLinkActive="active">
            <div class="icon-wrapper">
                <i class="fa-solid fa-box"></i>
            </div>
            <span class="nav-text">Order</span>
        </a>

        <a class="nav-card" routerLink="/admin/showproduct" routerLinkActive="active">
            <div class="icon-wrapper">
                <i class="fa-solid fa-box"></i>
            </div>
            <span class="nav-text">Show Product</span>
        </a>
        <li routerLink="/admin/coupon">
            Coupons
        </li>
    </nav>

    <!-- <div class="user-card">
        <img src="https://ui-avatars.com/api/?name=Admin&background=ffffff&color=2D927D" alt="Avatar">
        <div class="user-info">
            <p class="user-name">Alex Smith</p>
            <p class="user-role">Super Admin</p>
        </div>
    </div> -->
</div>